/* custom scrollbar */

.modal-panel{
    @apply overflow-y-auto
}

.modal-panel::-webkit-scrollbar {
    width: 18px;
  }
  
.modal-panel ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
.modal-panel::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
.modal-panel::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }